---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import FeaturesGrid from '../components/FeaturesGrid.astro';
import PricingSection from '../components/PricingSection.astro';
import InstallationSection from '../components/InstallationSection.astro';
import FAQAccordion from '../components/FAQAccordion.astro';
import Footer from '../components/Footer.astro';
import TrialModal from '../components/TrialModal.astro';
---

<MainLayout>
  <Header />
  <main>
    <HeroCarousel />
    <FeaturesGrid />
    <PricingSection />
    <InstallationSection />
    <FAQAccordion />
  </main>
  <Footer />
  <TrialModal />
</MainLayout>
